* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    font-family: "Roboto", sans-serif;
}

.barraLateral {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
    align-items: center;
    background-color: #111B21;
}

.headerBarraLateral {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.headerBarraLateral h1 {
    color: white;
    font-weight: 700;
}

.headerBarraLateral .icons-Header-BarraLateral {
    display: flex;
    gap: 2rem;
}

.headerBarraLateral .icons-Header-BarraLateral img {
    height: 1.5rem;
    width: 1.5rem;
}

.inputPesquisa {
    position: relative;
    width: 100%;
    height: 2.5rem;
}

.inputPesquisa input {
    width: 99%;
    height: 100%;
    padding-left: 5rem;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    background-color: #202C33;
    color: white;
}

.inputPesquisa input:focus {
    border: none;
    outline: none;
}

.inputPesquisa input:focus::placeholder {
    color: transparent;
}

.inputPesquisa img {
    position: absolute;
    height: 1.5rem;
    left: 0;
    transform: translateY(35%);
    margin-left: 1rem;
}

.botoesBarraLateral {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.2rem;
    width: 100%;
    height: 2.5rem;
    padding: 0.2rem;
}

.botoesBarraLateral button {
    height: 100%;
    border: none;
    padding: 0rem 1rem 0rem 1rem;
    border-radius: 50px;
    background-color: #202C33;
    color: white;
    font-weight: 100;
    color: #A8B4BB;
}

.listaContatos {
    width: 100%;
    padding: 0.5rem;
    overflow: auto;
}

.contato {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.listaContatos .contato h3 {
    font-weight: 200;
    font-size: 0.9rem;
    color: #A8B4BB;
}

.listaContatos hr {
    height: 0.5px; /* Deixa a linha mais fina */
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: rgba(81, 89, 94, 0.5); /* Cor com transparência (50% de opacidade) */
    color: transparent; /* A cor do texto dentro do <hr> será transparente */
    margin-left: 5rem;
    border: none;
}

.contato .dadosContato {
    display: flex;
}

.contato .dadosContato .textoContato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
}

.contato .dadosContato .textoContato h2{
    width: 100%;
    font-weight: 400;
    font-size: 1.2rem;
    text-align: start;
}

.contato .dadosContato .textoContato h3{
    font-weight: 200;
    font-size: 1rem;
    color: #A8B4BB;
}

.contato img {
    border-radius: 50px;
    margin-right: 1rem;
    height: 3rem;
}

.contato h2 {
    color: white;
}

.contato h3 {
    color: white;
    font-weight: 500;
}

.main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-image: url("../img/background.png");
    background-position: center;
    background-size: 50%;
    background-repeat: repeat;
    
}

.main .headerMain {
    width: 100%;
    height: 4.5rem;
    background-color: #202C33;
    display: flex;
    justify-content: space-between;
}

.main .headerMain .contatoConversa {
    display: flex;
    padding: 0.5rem;
    align-items: center;
    gap: 1rem;
    flex-grow: 1;
}

.main .headerMain .contatoConversa img {
    border-radius: 50%;
    height: 3rem;
    margin-left: 0.5rem;
}

.main .headerMain .contatoConversa h1 {
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
}

.main .botoesHeader {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2.5rem;
    margin: 0.5rem;
    margin-right: 2rem;
    flex-grow: 1;
}

.main .botoesHeader img {
    height: 1.5rem;
}

.main .footerMain {
    background-color: #202C33;
    display: flex;
    width: 100%;
    height: 4.5rem;
    padding: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    justify-content: space-between;
    align-items: center;
}

.main .footerMain img {
    height: 2rem;
}

.main .footerMain .inputMensagem {
    flex-grow: 1;
    height: 3.3rem;
    position: relative;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    
}

.main .footerMain .inputMensagem img{
    position: absolute;
    left: 0;
    top: 20%;
    margin-left: 1rem;
    height: 2rem;
}

.main .footerMain .inputMensagem input{
    width: 100%;
    height: 100%;
    padding-left: 4rem;
    font-size: 1.2rem;
    font-weight: 400;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #2A3942;
}

.main .footerMain .inputMensagem input:focus {
    outline: none;
}
